.img-circle {
	width: 9em !important;
	height: 9em !important;
	object-position: center !important;
	object-fit: cover !important;
    border-radius: 50% !important;
}

.profiles {
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
}
.profile-label {
	text-align: center !important;
}
.hidden {
	display: none !important;
}